.DS_Store
_build/
.mooncakes/
.moonagent/
.repos/
.vscode/
*.bak
bak/
testnook/
*.ntriples
skills/
*.log
src/benchmark/*/target/
src/fsm/*.toml
*spec.md
*.adr.md
*_gen.md
*_biz.md
*_usage.md
*const.md
*pseudocode.md
*viva.toml
viva.toml
adr.md
const.md
pseudocode.md
spec.md
ctx.md
todo.md